<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<li id="g_parent_comment_chapter_id_<%= comment.id %>">
 	<div class="d-flex mb-4 me">
    <!-- Parent comment-->
	<div class="flex-shrink-0">
		<img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." />
	</div>
	  <div class="fw-bold">
		  <div class="card" style="min-width: 40em;max-width: 40em;">
		    <div class="card-body">
		    	<div class="ms-3">
            <%= comment.user.email %>
					</div>
          <%= raw comment.message %>
           <button class="badge badge-primary float-right" id="rep_button_<%= comment.id %>" data-toggle="#grand_form_<%= comment.id %>" onclick="toggleContent(event)">Reply</button>
            <br>
            <div id="grand_form_<%= comment.id %>" class="hidden">
              <%= form_for [@comment.manga, @comment], remote: true do |ff|%>
              <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                <%= ff.text_area :message, id:'comment-input0', class:"form-control comment-input"%><br>
                <%= ff.hidden_field :parent_id, value: comment.id %>
                <%= ff.submit 'POST', class: 'btn btn-primary btn-sm float-right comment-btn' %>
              <% end %>
            </div>
        </div>
      </div>
    </div>
  </div>
</li>