<li id="parent_comment_chapter_id_<%= reply.id %>">
<div class="d-flex mt-4">
  <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
  <div class="card" style="min-width: 36.7em;max-width: 36.7em;">
    <div class="card-body">
      <div class="ms-3">
        <div class="fw-bold"><%= reply.user.username %></div>
        <%= reply.message  %>
        <button class="badge badge-primary float-right" id="rep_button2">Reply</button>
        <br>
        <div id="parent_form">
          <%= form_for [@comment.manga, @comment] do |fff|%>
            <%= fff.rich_text_area :message, class:"form-control"%><br>
            <%= fff.hidden_field :parent_id, value: comment.id %>
            <%= fff.hidden_field :sub_parent_id, value: reply.id %>
            <%= fff.submit 'POST', class: 'btn btn-primary btn-sm float-right' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</li>