<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<%= render 'show_css' %>
        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">Welcome to Blog Post!</h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">Posted on January 1, 2022 by Start Bootstrap</div>
                            <!-- Post categories-->
                            <% @manga.categories.each do |category| %>
                            <a class="badge bg-secondary text-decoration-none link-light" href="#!"><%= category %></a>
                            <% end %>
                        </header>
                       
            
                    
                        <!-- Preview image figure-->
                        <figure class="mb-4">
                            <%= image_tag @manga.thumbnail, weight: "500px" , height:'700px'%>
                        </figure>
                        <!-- Post content-->
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                          <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Description</a>
                          </li>
                          <li class="nav-item" role="presentation">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Chapters</a>
                          </li>
                          
                        </ul><br>
                        <div class="tab-content" id="myTabContent">
                          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <section class="mb-5">
                                <p class="fs-5 mb-4"><%= @manga.description %></p>
                            </section>
                          </div>

                          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                          <section class="mb-5">
                           
                            <div data-spy="scroll" data-target="#navbar-example2" data-offset="0" style="max-height: 300px; overflow-y: auto">
                              <% @manga.chapters.order('created_at DESC').each do |chapter| %>
                                <% if @manga.chapters.count > 0 %>
                                <%= link_to manga_chapter_path(@manga.id, chapter.id)  do%>
                                  <div class="alert alert chapter-index-color" role="alert">
                                    
                                    <% if chapter.is_seen %>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                          <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                                          <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                                        </svg>
                                    <% else %>
                                       <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                        <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                                        <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                      </svg>
                                    <% end %>
                                    <%= chapter.title %> <span class="float-right"><%= chapter.updated_at %></span>
                                  </div>
                                <% end %>
                                <% end %>
                              <% end %>
                            </div>
                          </div>
                        </section>
                        </div>
                        
                    </article>
                    <!-- Comments section-->
              <section class="mb-5">
                <div class="card bg-light">
                    <div class="card-body">
                    <ul id="comment_g_parent">
                        <!-- Comment form-->
                    <% if current_user.present? %>
                        <%= form_for [@comment.manga, @comment], remote: true do |f| %>
                          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                          <%= f.text_area :message, class:"form-control", id:'comment-input', placeholder:"Join the discussion and leave a comment!"%><br>
                          <%= f.submit 'POST', class: 'btn btn-primary btn-sm float-right', id:'' %><br>
                        <% end %>
                        <!-- Comment with nested comments-->
                        <% @manga.comments.where(parent_id:nil, sub_parent_id: nil).each do |comment| %>
                            <% next unless comment.persisted? %>
                              <li>
                                <div class="d-flex mb-4 me">
                                <!-- Parent comment-->
                                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                      <div class="fw-bold"> 
                                          <div class="card" style="min-width: 40em;max-width: 40em;">
                                            <div class="card-body">
                                               <div class="ms-3">
                                                <%= comment.user.email %>
                                              </div>
                                              <%= raw comment.message %>
                                                <button class="badge badge-primary float-right" id="rep_button_<%= comment.id %>">Reply</button>
                                                <br>
                                              <div id="grand_form_<%= comment.id %>">
                                                <%= form_for [@comment.manga, @comment], remote: true do |ff|%>
                                                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                                                  <%= ff.text_area :message, id:'comment-input0', class:"form-control"%><br>
                                                  <%= ff.hidden_field :parent_id, value: comment.id %>
                                                  <%= ff.submit 'POST', class: 'btn btn-primary btn-sm float-right' %>
                                                <% end %>
                                              </div>
                                            </div>
                                          </div>
                                        <!-- Child comment 1-->
                                        <ul id="comment_parent_<%= comment.id %>" >
                                        <% @manga.comments.where(parent_id:comment.id, sub_parent_id:nil).each do |reply| %>
                                            <% next unless reply.persisted? %>
                                              <li>
                                                <div class="d-flex mt-4">
                                                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                                    <div class="card" style="min-width: 36.7em;max-width: 36.7em;">
                                                    <div class="card-body">
                                                       <div class="ms-3">
                                                        <div class="fw-bold"><%= reply.user.username %></div>
                                                        <%= reply.message  %>
                                                        <button class="badge badge-primary float-right" id="rep_button2_<%= reply.id %>">Reply</button>
                                                        <br>
                                                      <div id="parent_form_<%= reply.id %>">
                                                        <%= form_for [@comment.manga, @comment], remote: true do |fff|%>
                                                          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                                                          <%= fff.text_area :message, class:"form-control"%><br>
                                                          <%= fff.hidden_field :parent_id, value: comment.id %>
                                                          <%= fff.hidden_field :sub_parent_id, value: reply.id %>
                                                          <%= fff.submit 'POST', class: 'btn btn-primary btn-sm float-right' %>
                                                        <% end %>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                                </div>
                                              </li>
                                              <!-- Grandchild comment -->
                                            <ul id="comment_<%= reply.id %>">
                                              <% @manga.comments.where(parent_id: comment.id, sub_parent_id: reply.id).each do |rreply| %>
                                                <% next unless rreply.persisted? %>
                                                <li>
                                                  <div class="d-flex mt-4" style="margin-left: 7%">
                                                    <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                                    <div class="card" style="min-width: 33.8em;max-width: 33.8em;">
                                                    <div class="card-body">
                                                       <div class="ms-3">
                                                        <div class="fw-bold"><%= rreply.user.username %></div>
                                                        <%= rreply.message  %>
                                                        <br>
                                                       </div>
                                                    </div>
                                                    </div>
                                                  </div>
                                                </li>
                                                <% end %>
                                            </ul>
                                        <% end %>
                                      </ul>
                                    </div>
                                </div>
                              </li>
                          
                        <% end %>
                        <!-- Single comment-->
                    <% else %>
                        <%= link_to 'Sign In to input or see comments', new_user_session_path, class:'btn btn-primary btn-block' %>
                    <% end %>
                    </ul>
                  </div>
                </div>
            </section>
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    <div class="card mb-4">
                        <div class="card-header">Search</div>
                        <div class="card-body">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                                <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                            </div>
                        </div>
                    </div>
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">Categories</div>
                        <div class="card-body">
                            <div class="row">
                                <% @manga.categories.each do |category|%>
                                <%=next if category.length < 1 %>
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><%= link_to categorized_mangas_path(category) do%><%= category %><%end%></li>
                                    </ul>
                                </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                    <!-- Side widget-->
                    <div class="card mb-4">
                        <div class="card-header">Side Widget</div>
                        <div class="card-body">
                            <h5><b>Author: </b><%= @manga.author %></h5>
                            <h5><b>Last Updated: </b><%= @manga.chapters.last.updated_at if @manga.chapters.present?%></h5>
                            <h5><b>No. of chapters: </b><%= @manga.chapters.count %></h5>
                            <h5><b>No. of bookmarks: </b><%= @manga.users.count %></h5>
                            <h5><b>Likes: </b><%= @manga.likes %>
                            <% if current_user.present? %>
                            <h5><b>Bookmark: </b><%= link_to @bookmark_status, bookmark_mangas_path(@manga), class:"btn btn-#{ @bookmark_status == 'Bookmark' ? 'success' : 'danger'} btn-sm" %></h5>
                            <% else %>
                            <h5><b>Sign In to bookmark this: </b><%= link_to 'Login', new_user_session_path, class: 'btn btn-sm btn-primary' %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </body>
</html>

