
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="album.css" rel="stylesheet">

<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
        <% Category.all.each do |category|%>
      <%= link_to category.name, categorized_mangas_path(category), class:'btn btn-success', style:'margin-bottom:5px'%>
   
  <% end %>

    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
    <% if sorted_mangas(params[:sort]).count > 0 %>
      <% sorted_mangas(params[:sort]).each_slice(2) do |mangas| %>
        <% mangas.each do |manga| %>
            <div class="col-md-6">
              <%= link_to manga_path(manga) do %>
              <div class="card-body">
                <div class="card mb-4 shadow-sm">
                  <div class="row">
                <div class="col-md-4">
                  <% if manga.thumbnail.present? %>
                    <%= image_tag manga.thumbnail, width:"100px" %>
                  <% end %>
                </div>
                  <div class="col-md-8">
                    <br>
                    <p class="card-text"><%= manga.title %></p>
                    <% if manga.chapters.count > 1 %>
                    <p class="card-text">
                        <%= link_to manga.chapters.last.title, manga_chapter_path(manga, manga.chapters.last) %>
                      </p>
                    <p class="card-text"><%= manga.chapters.last.updated_at %></p>
                    <% end %>
                  </div>
                </div>
              
                </div>
              </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>     
  </div>
</div>


</main>
