
<style>
.gradient-custom {
/* fallback for old browsers */
background: #6a11cb;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}
</style>




<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <div class="mb-md-5 mt-md-4 pb-5">
              <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
              <%= render "devise/shared/error_messages", resource: resource %>
              <h2 class="fw-bold mb-2 text-uppercase">Reset Password</h2>
              <p class="text-white-50 mb-5">Forgot your password?</p>
              <div class="form-outline form-white mb-4">
                <label class="form-label" for="typeEmailX">Email</label>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control form-control-lg", id:"typeEmailX"%>
              </div>

              <%= f.submit "Send me reset password instructions", class: "btn btn-outline-light px-5" %>
            </div>

            <div>
              <p class="mb-0"><%= render "devise/shared/links" %></a>
              </p>
            </div>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>