<script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
    <style>
      body{
    background-color: #dee9ff;
}

.registration-form{
  padding: 50px 0;
}

.registration-form form{
    background-color: #fff;
    max-width: 600px;
    margin: auto;
    padding: 50px 70px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.registration-form .form-icon{
  text-align: center;
    background-color: #5891ff;
    border-radius: 50%;
    font-size: 40px;
    color: white;
    width: 100px;
    height: 100px;
    margin: auto;
    margin-bottom: 50px;
    line-height: 100px;
}

.registration-form .item{
  border-radius: 20px;
    margin-bottom: 25px;
    padding: 10px 20px;
}

.registration-form .create-account{
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #5791ff;
    border: none;
    color: white;
    margin-top: 20px;
}

.registration-form .social-media{
    max-width: 600px;
    background-color: #fff;
    margin: auto;
    padding: 35px 0;
    text-align: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: #9fadca;
    border-top: 1px solid #dee9ff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.registration-form .social-icons{
    margin-top: 30px;
    margin-bottom: 16px;
}

.registration-form .social-icons a{
    font-size: 23px;
    margin: 0 3px;
    color: #5691ff;
    border: 1px solid;
    border-radius: 50%;
    width: 45px;
    display: inline-block;
    height: 45px;
    text-align: center;
    background-color: #fff;
    line-height: 45px;
}

.registration-form .social-icons a:hover{
    text-decoration: none;
    opacity: 0.6;
}

.filepond--drop-label {
    color: #4c4e53;
}

.filepond--label-action {
    text-decoration-color: #babdc0;
}

.filepond--panel-root {
    border-radius: 2em;
    background-color: #edf0f4;
    height: 1em;
}

.filepond--item-panel {
    background-color: #595e68;
}

.filepond--drip-blob {
    background-color: #7f8a9a;
}


@media (max-width: 576px) {
    .registration-form form{
        padding: 50px 20px;
    }

    .registration-form .form-icon{
        width: 70px;
        height: 70px;
        font-size: 30px;
        line-height: 70px;
    }
}
    </style>

    <div class="registration-form">
            <!-- Example of a form that Dropzone can take over -->
      <div class="form-icon">
        <span><i class="icon icon-user"></i></span>
      </div>

        <%= form_for [@chapter.manga, @chapter],html:{class:"dropzone", id:'my-awesome-dropzone', multiple: true}, id:"my-awesome-dropzone" do |f| %>
        <div class="previews"></div>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <%= f.hidden_field :images, multiple: true %>
       
        <div class="form-group">
            <%= f.text_field :title, class:'form-control item', placeholder:'Chapter' %>
        </div>
        <br>
        <%= f.submit id:'button', class:"btn btn-block create-account" %>
          <%#= f.text_field :title %>
        <%end%>
      <div class="social-media">
      </div>
      </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="assets/js/script.js"></script>
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script type='text/javascript' src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js'></script>
<script type='text/javascript' src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js'></script>
<script type='text/javascript'>$(document).ready(function() {
  $('.select2').select2({
  closeOnSelect: false
  });
  });</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<script>
  var myDropzone = new Dropzone("#my-awesome-dropzone", {
  paramName: "chapter[images][]",
  autoProcessQueue: false,
  uploadMultiple: true,
  maxFilesize: 5, // 5 MB file size limit
  acceptedFiles: ".jpg,.jpeg,.png,.gif", // Accepted file types
  addRemoveLinks: true, // Add remove links to uploaded files
  dictDefaultMessage: "Drop files here or click to upload",
  dictRemoveFile: "Remove",
  url: "edit_manga_chapter_path(@chapter.manga, @chapter)" // URL to which file data should be sent
});

</script>
<script>
const myDropzone = new Dropzone("#my-awesome-dropzone", {

  autoProcessQueue: false
});
</script>
<script>
const submitButton = document.querySelector("button[type='submit']");
submitButton.addEventListener("click", function (event) {
  event.preventDefault();
  myDropzone.processQueue();
});
</script>
<script>
  myDropzone.on("addedfile", function (file) {
  const removeButton = Dropzone.createElement(`<h3><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-trash-fill" viewBox="0 0 16 16">
  <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
</svg></h3>`);
  const parentElement = file.previewElement.querySelector(".dz-details");
  parentElement.appendChild(removeButton);
  removeButton.addEventListener("click", function () {
    myDropzone.removeFile(file);
  });
});
</script>
