
<link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
<%= render 'form_css' %>
<%= render 'form_js' %>

    <div class="registration-form">
            <!-- Example of a form that Dropzone can take over -->
      <div class="form-icon">
        <span><i class="icon icon-user"></i></span>
      </div>

        <%= form_for [@chapter.manga, @chapter],html:{class:"dropzone", id:'my-awesome-dropzone', enctype: "multipart/form-data"}, id:"my-awesome-dropzone" do |f| %>
        <div class="previews"></div>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <%#= f.file_field :images, multiple: true %>
       
        <div class="form-group">
            <%= f.text_field :title, class:'form-control item', placeholder:'Chapter' %>
        </div>
        <br>
        <%= f.submit id:'button', class:"btn btn-block create-account" %>
          <%#= f.text_field :title %>
        <%end%>
      <div class="social-media">
      </div>
      </div>
    </div>
   