
<%= render 'mangas/show_css' %>
<!-- Page content-->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1"><%= @chapter.manga.title %></h1>
                    <h2 class="fw-bolder mb-1"><%= @chapter.title %></h2>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">Posted on January 1, 2022 by Start Bootstrap</div>
                    <!-- Post categories-->
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>
                </header>
                <!-- Preview image figure-->
                
                <% if @chapter.images.present? %>
                <% @chapter.images.each do |img|%>
                <figure class="mb-4">
                    <%= image_tag img , width: "900px", height: "1200px", class:"img-fluid rounded"%>
                </figure>
                <% end %>
                <% else %>
                    <figure class="mb-4"><img class="img-fluid rounded" src="https://dummyimage.com/900x1200/ced4da/6c757d.jpg" alt="..." /></figure>
                <% end %>
                <!-- Post content-->
                <section class="mb-5">
                    
                </section>
            </article>
            <!-- Comments section-->
            <section class="mb-5">
                <div class="card bg-light">
                    <div class="card-body">
                      <ul id="chapter_comment_g_parent">
                        <!-- Comment form-->
                    <% if current_user.present? %>
                        <%= form_for [@comment_chapter.chapter.manga, @comment_chapter.chapter, @comment_chapter], remote: true do |f| %>
                        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                          <%= f.rich_text_area :message, class:"form-control comment-input", placeholder:"Join the discussion and leave a comment!"%><br>
                          <%= f.submit 'POST', class: 'btn btn-primary btn-sm float-right comment-btn' %><br>
                        <% end %>
                        <!-- Comment with nested comments-->
                       <%= render partial: 'chapter_comment' %>
                        <!-- Single comment-->
                    <% else %>
                        <%= link_to 'Sign In to input or see comments', new_user_session_path, class:'btn btn-primary btn-block' %>
                    <% end %>
                    </ul>
                  </div>
                </div>
            </section>
        </div>
    </div>
</div>
<!-- Footer-->
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
