<!DOCTYPE html>
<html>
  <head>
    <title>ReaderWorld</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>


    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <%= tag.meta name: 'direct-upload-url', content: rails_direct_uploads_path %>
  </head>

  <body >
    <div class="" id="content-wrapper">
      <%= render partial: 'shared/nav_bar' %>
      <%= render partial: 'shared/flash_message' %>
      <%= yield %>
      <%= render partial: 'shared/footer' %>
    </div>
  </body>
</html>

<script>
  function toggleContent(event) {
  const target = event.target;
  const selector = target.getAttribute('data-toggle');
  const element = document.querySelector(selector);

  if (element) {
    element.classList.toggle('hidden');
  }
}
$('.comment-btn').click(function(){
  $('.comment-input').val('')
})
</script>


<script>
  // Get the alert element
  // Set a timer to close the alert after 5 seconds
  setTimeout(function() {
   $('.alert').hide()
  }, 5000);
</script>

<script>
//   $(document).ready(function() {
//   $('#q').on('input', function() {
//     $.get($('#search-form').attr('action'), $('#search-form').serialize(), null, 'script');
//     return false;
//   });
// });
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
  $('#q').on('keyup', function() {
    var query = $("#q").val();
    if (query.length >= 3) {
    $.ajax({
      url: "<%= filter_mangas_path %>",
      type: 'GET',
      data: { search: query },
      dataType: 'script'
    });
    }
    else {
      $('#mangas').empty();
    }
  });
});

</script>